In [5]:
#Importando librerias
import os
import numpy as np
from matplotlib import pyplot
import pandas as pd

In [6]:
#Conectando con Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

DATA SET USADO #198 https://www.kaggle.com/datasets/mariyamalshatta/inn-hotels-group/

In [7]:
#Importando dataset
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/INNHotelsGroup.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

 Insertar atributos que contengan caracteres, texto y
 valores booleanos

In [8]:
#Agrega caracteres en la columna tipo de cuarto
Groups = ['A', 'B', 'C', 'D']
data['Tipo de Cuarto'] = np.random.choice(Groups, size=len(data))

# Agregar una nueva columna de texto "Comentarios" con valores de comentarios predeterminados
feedback_texts = ['¡Gran servicio!', 'La habitación no estaba limpia.', 'Volvería otra vez.', '¡Tuve una estancia fantástica!', 'No vale el precio.']
# Agrega randomicamente comentarios a cada huesped
data['Comentarios'] = np.random.choice(feedback_texts, size=len(data))

# Agregue una nueva columna booleana "VIP_Guest" basada en la cantidad de reservas anteriores no canceladas
data['VIP'] = np.where(data['no_of_previous_bookings_not_canceled'] > 2, True, False)

# Mostrar el conjunto de datos modificado con las nuevas columnas
print(data.head())

  Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  \
0   INN00001             2               0                     1
1   INN00002             2               0                     2
2   INN00003             1               0                     2
3   INN00004             2               0                     0
4   INN00005             2               0                     1

   no_of_week_nights type_of_meal_plan  required_car_parking_space  \
0                  2       Meal Plan 1                           0
1                  3      Not Selected                           0
2                  1       Meal Plan 1                           0
3                  2       Meal Plan 1                           0
4                  1      Not Selected                           0

  room_type_reserved  lead_time  arrival_year  ...  market_segment_type  \
0        Room_Type 1        224          2017  ...              Offline
1        Room_Type 1          5          2018  ...               Online
2        Room_Type 1          1          2018  ...               Online
3        Room_Type 1        211          2018  ...               Online
4        Room_Type 1         48          2018  ...               Online

   repeated_guest no_of_previous_cancellations  \
0               0                            0
1               0                            0
2               0                            0
3               0                            0
4               0                            0

   no_of_previous_bookings_not_canceled  avg_price_per_room  \
0                                     0               65.00
1                                     0              106.68
2                                     0               60.00
3                                     0              100.00
4                                     0               94.50

   no_of_special_requests  booking_status  Tipo de Cuarto         Comentarios  \
0                       0    Not_Canceled               C     ¡Gran servicio!
1                       1    Not_Canceled               B     ¡Gran servicio!
2                       0        Canceled               D     ¡Gran servicio!
3                       0        Canceled               C     ¡Gran servicio!
4                       0        Canceled               B  Volvería otra vez.

     VIP
0  False
1  False
2  False
3  False
4  False

[5 rows x 22 columns]